<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Signup Successful</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Thanks for viewing my first fullstack project</h1>
            <p>Facilitator, Mr Aaron Ojima Attah</p>
            <a href="./index">Logout</a>
        </div>
        
    </div>
</body>
</html>